## 1 - Preparação dos Dados;

### 1.1 - Importando as bibliotecas necessárias;

In [26]:
#Importando as bibliotecas necessárias para analisar os dados
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import string
import openpyxl.utils.cell as cell

In [27]:
import pandas as pd

data = {
    'Atributo': ['Sexo', 'Local de Origem (Mora em Sobral)', 'Raça', 'Situação Civil',
                 'Reside com', 'Qual a sua religião', 'Reprovou Alguma Disciplina?',
                 'Considera o Curso Estressante?', 'Recebe Bolsa ou Auxílio?',
                 'Qual atividade de lazer pratica', 'Faz uso contínuo de medicamento?',
                 'Fez uso de uma substância Psicoativa?', 'Frequência do uso da substância',
                 'Quantidade de Sono Diária'],
    'Opções': ['Masculino, Feminino', 'Mora em Sobral, Não mora em Sobral',
               'Preto, Não sabe', 'Solteiro, Não solteiro',
               'Sozinho, República Estudantil', 'Outras/Sem religião',
               'Sim, Não', 'Sim, Não', 'Sim, Não',
               'Ouvir Música, Assistir Filme/Série, Passear/Viajar, Outras',
               'Sim, Não', 'Sim, Não',
               'Diariamente, Semanalmente, Mensalmente, Raramente',
               'Menos de 4 horas, Entre 4 e 6 horas, Entre 6 e 8 horas, Mais de 8 horas']
}

df = pd.DataFrame(data)
df

,Atributo,Opções
0,Sexo,"Masculino, Feminino"
1,Local de Origem (Mora em Sobral),"Mora em Sobral, Não mora em Sobral"
2,Raça,"Preto, Não sabe"
3,Situação Civil,"Solteiro, Não solteiro"
4,Reside com,"Sozinho, República Estudantil"
5,Qual a sua religião,Outras/Sem religião
6,Reprovou Alguma Disciplina?,"Sim, Não"
7,Considera o Curso Estressante?,"Sim, Não"
8,Recebe Bolsa ou Auxílio?,"Sim, Não"
9,Qual atividade de lazer pratica,"Ouvir Música, Assistir Filme/Série, Passear/Vi..."
10,Faz uso contínuo de medicamento?,"Sim, Não"
11,Fez uso de uma substância Psicoativa?,"Sim, Não"
12,Frequência do uso da substância,"Diariamente, Semanalmente, Mensalmente, Raramente"
13,Quantidade de Sono Diária,"Menos de 4 horas, Entre 4 e 6 horas, Entre 6 e..."

### 1.2 - Importando os dados e manipulando-os;

In [28]:
#Importando os dados
data_frame = pd.read_excel(r'Datasets/BANCO DE DADOS - INVERTIDO - 24 de Agosto 2019.xlsx')


#Renoemando as colunas para seguir o padrão do Excel
def number_to_excel_column(num):
    """
    Converte um número de coluna numa ‘string’ com a representação alfabética.
    Exemplo: 1 => 'A', 2 => 'B', ..., 26 => 'Z', 27 => 'AA', 28 => 'AB', ...
    """
    return cell.get_column_letter(num)

# Gera uma lista com os nomes das colunas no estilo do Excel
col_names = [number_to_excel_column(num) for num in range(1, len(data_frame.columns)+1)]

# Cria um dicionário com os nomes atuais e os novos nomes das colunas
new_col_names = {old_name: new_name for old_name, new_name in zip(data_frame.columns, col_names)}

# Renomeia as colunas
data_frame = data_frame.rename(columns=new_col_names)

data_frame_r = data_frame.replace('', np.nan)

In [29]:
#Selecionando a parte de dados sociodemograficos;
df_socioeconomico = data_frame_r.loc[:, 'B':'BP']

# Parte do dataframe que contem o questionário WHOQOL
df_whoqol = data_frame_r.loc[:, 'BR':'CU']

# Parte do dataframe que contem o questionário de MHI
df_mhi = data_frame_r.loc[:, 'CW':'EH']

In [30]:
print(df_socioeconomico.head())
print(df_mhi.head())

     B     C    D    E     F     G    H    I    J    K  ...   BG   BH   BI  \
0  1.0  25.0  1.0  1.0   1.0   1.0  0.0  1.0  1.0  1.0  ...  0.0  0.0  0.0
1  1.0  19.0  1.0  1.0   1.0  83.0  1.0  1.0  1.0  1.0  ...  0.0  0.0  0.0
2  1.0  28.0  5.0  1.0  23.0  23.0  1.0  1.0  1.0  1.0  ...  0.0  0.0  0.0
3  1.0  22.0  1.0  1.0  37.0   1.0  2.0  1.0  1.0  1.0  ...  0.0  0.0  0.0
4  1.0  21.0  1.0  1.0   6.0   1.0  2.0  3.0  5.0  1.0  ...  0.0  0.0  0.0

    BJ   BK   BL   BM   BN   BO   BP
0  0.0  0.0  0.0  0.0  0.0  0.0  8.0
1  0.0  0.0  0.0  0.0  0.0  0.0  7.0
2  0.0  0.0  0.0  0.0  0.0  0.0  7.0
3  0.0  0.0  0.0  0.0  0.0  0.0  6.0
4  0.0  0.0  0.0  0.0  0.0  1.0  7.0

[5 rows x 67 columns]
    CW   CX   CY   CZ   DA   DB   DC   DD   DE   DF  ...   DY   DZ   EA   EB  \
0  4.0  4.0  4.0  6.0  4.0  4.0  4.0  5.0  5.0  3.0  ...  5.0  4.0  4.0  4.0
1  5.0  5.0  4.0  4.0  4.0  4.0  2.0  3.0  1.0  4.0  ...  2.0  2.0  4.0  5.0
2  3.0  4.0  1.0  3.0  3.0  2.0  3.0  1.0  2.0  3.0  ...  2.0  2.0  3.0  3.0
3  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  3.0  ...  1.0  2.0  2.0  3.0
4  3.0  4.0  3.0  3.0  2.0  3.0  3.0  3.0  1.0  4.0  ...  3.0  2.0  3.0  3.0

    EC   ED   EE   EF   EG   EH
0  2.0  4.0  4.0  4.0  5.0  6.0
1  4.0  4.0  5.0  5.0  1.0  2.0
2  1.0  2.0  2.0  4.0  3.0  3.0
3  1.0  1.0  5.0  1.0  1.0  1.0
4  2.0  2.0  2.0  3.0  2.0  2.0

[5 rows x 38 columns]

### 1.4 - Aplicando as modificações na base de dados;

In [31]:
# Definindo as colunas que serão removidas:
rem_col_names = [ # Nome
                 'G', # Local de nascimento [Temporariamente] <-
                 'K', # Curso de graduação [Temporariamente] <-
                 'P', # Indique os princiapis fatores de estresse
                 'Q', 'R', 'S','T', # Fatores de estresse
                 'V', # Qual o motivo do afastamento
                 'W', 'X','Y','Z', # Motivos do afastamento
                 'AF', # Caso receba auxilio...
                 'AG', 'AH', 'AI', 'AJ', 'AK', 'AL', 'AM', # Auxilio
                 'AQ', # Quais atividades de lazer
                 'BA', # Faz uso continuo de algum medicamento
                 'BB', 'BC', # Medicamentos
                 'BE',# Qual substancia psicoativa
                 'BF', 'BG', 'BH', 'BI', 'BJ', 'BK', 'BL', 'BM', 'BN' # Substancias psicoativas
                 ]


# Removendo as colunas
df_socioeconomico = df_socioeconomico.drop(columns=rem_col_names, axis=1)

In [33]:
# Modificando os dados das colunas:

# Coluna 'B' - Sexo; Está no formato 1 e 2, queremos binarizar, ou seja, 0 e 1.
df_socioeconomico['B'] = df_socioeconomico['B'].apply(lambda x: 0 if x == 2 else x) # 0 - Masculino | 1 - Feminino

# Coluna 'D'- Raça; Vária de 1 a 5 e será aplicado one-hot-encoding, ou seja, será criada uma coluna para cada valor.
oh_raca = pd.get_dummies(df_socioeconomico['D'], prefix='D', dtype=int)
df_socioeconomico = df_socioeconomico.drop('D', axis=1)
df_socioeconomico = df_socioeconomico.join(oh_raca)

# Coluna 'E' - Situacao Civil; Aplicando one-hot-encoding
oh_situacao_civil = pd.get_dummies(df_socioeconomico['E'], prefix='E', dtype=int)
df_socioeconomico = df_socioeconomico.drop('E', axis=1)
df_socioeconomico = df_socioeconomico.join(oh_situacao_civil)

# Coluna 'F' - Local de Origem; Se o local for diferente de '1' (Sobral) será substituido por '0' (Outro)
df_socioeconomico['F'] = df_socioeconomico['F'].apply(lambda x: 0 if x != 1 else x)

# Coluna 'I' - Com quem reside; Aplicando one-hot-encoding
oh_reside = pd.get_dummies(df_socioeconomico['I'], prefix='I', dtype=int)
df_socioeconomico = df_socioeconomico.drop('I', axis=1)
df_socioeconomico = df_socioeconomico.join(oh_reside)

# Coluna 'J' - Religiao; Aplicando one-hot-encoding
oh_religiao = pd.get_dummies(df_socioeconomico['J'], prefix='J', dtype=int)
df_socioeconomico = df_socioeconomico.drop('J', axis=1)
df_socioeconomico = df_socioeconomico.join(oh_religiao)

# Coluna 'AA' - Turno de estudo; Aplicando one-hot-encoding
oh_turno = pd.get_dummies(df_socioeconomico['AA'], prefix='AA', dtype=int)
df_socioeconomico = df_socioeconomico.drop('AA', axis=1)
df_socioeconomico = df_socioeconomico.join(oh_turno)

# Coluna 'AB' - Transporte; Aplicando one-hot-encoding
oh_transporte = pd.get_dummies(df_socioeconomico['AB'], prefix='AB', dtype=int)
df_socioeconomico = df_socioeconomico.drop('AB', axis=1)
df_socioeconomico = df_socioeconomico.join(oh_transporte)

In [35]:
df_socioeconomico

,B,C,F,H,L,M,N,O,U,AC,...,J_5.0,AA_1.0,AA_2.0,AA_3.0,AA_4.0,AB_0.0,AB_1.0,AB_2.0,AB_3.0,AB_4.0
0,1.0,25.0,1.0,0.0,5.0,3.0,1.0,0.0,1.0,0.0,...,0,0,1,0,0,0,0,0,1,0
1,1.0,19.0,1.0,1.0,2.0,4.0,1.0,1.0,1.0,0.0,...,0,0,0,0,1,0,0,1,0,0
2,1.0,28.0,0.0,1.0,1.0,2.0,0.0,1.0,1.0,0.0,...,0,0,1,0,0,0,0,1,0,0
3,1.0,22.0,0.0,2.0,5.0,2.0,1.0,1.0,1.0,0.0,...,0,0,0,0,1,0,1,0,0,0
4,1.0,21.0,0.0,2.0,7.0,5.0,0.0,1.0,1.0,0.0,...,1,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
877,0.0,24.0,0.0,1.0,10.0,5.0,1.0,1.0,0.0,0.0,...,0,0,0,1,0,0,0,1,0,0
878,0.0,29.0,1.0,0.0,9.0,4.0,0.0,1.0,0.0,0.0,...,0,1,0,0,0,0,0,1,0,0
879,0.0,22.0,0.0,1.0,8.0,3.0,0.0,1.0,0.0,1.0,...,0,0,0,0,1,0,0,1,0,0
880,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
881,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

### 1.5 - Adiconando as colunas do MHI;

Preciso pegar o df_socioeconomico e concatenar com os elementos a partir de 61 da BASE2, BASE3 e BASE4.

Com isso vou formar 4 dataframes, que vao ser salvos em csv.

#### 1.5.1 - Lendo as classes do WHOQOL;

In [13]:
# Lendo as classes do WHOQOL
df_classes_whoqol = pd.read_csv(r'Dados-Lucas-Santos\Classes_WHOQOL.csv')
df_classes_whoqol.columns = ["classes_whoqol"]
df_classes_whoqol

     classes_whoqol
0                 2
1                 1
2                 1
3                 2
4                 1
..              ...
874               3
875               2
876               2
877               2
878               2

[879 rows x 1 columns]

#### 1.5.1 - Lendo a bases;
BASE2 = [SOCIODEMOGRÁFICO ISM_GLOBAL]
BASE3 = [SOCIODEMOGRÁFICO ISM_Ansiedade ISM_Depressao ISM_Emocional ISM_Afeto ISM_Lacos]
BASE4 = [SOCIODEMOGRÁFICO ISM]

In [36]:
df_ism_global = pd.read_csv(r'Dados-Lucas-Santos\BASE2.csv')

df_ism_global = df_ism_global.iloc[:, 60:]
df_base2 = df_socioeconomico.join(df_ism_global)
df_base2 = df_base2.join(df_classes_whoqol)
df_base2 = df_base2.dropna()

In [37]:
df_base2

,B,C,F,H,L,M,N,O,U,AC,...,AA_2.0,AA_3.0,AA_4.0,AB_0.0,AB_1.0,AB_2.0,AB_3.0,AB_4.0,171,classes_whoqol
0,1.0,25.0,1.0,0.0,5.0,3.0,1.0,0.0,1.0,0.0,...,1,0,0,0,0,0,1,0,137.0,2.0
1,1.0,19.0,1.0,1.0,2.0,4.0,1.0,1.0,1.0,0.0,...,0,0,1,0,0,1,0,0,100.0,1.0
2,1.0,28.0,0.0,1.0,1.0,2.0,0.0,1.0,1.0,0.0,...,1,0,0,0,0,1,0,0,54.0,1.0
3,1.0,22.0,0.0,2.0,5.0,2.0,1.0,1.0,1.0,0.0,...,0,0,1,0,1,0,0,0,102.0,2.0
4,1.0,21.0,0.0,2.0,7.0,5.0,0.0,1.0,1.0,0.0,...,0,0,1,0,0,0,0,1,113.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
874,0.0,24.0,1.0,1.0,10.0,3.0,1.0,1.0,0.0,1.0,...,0,1,0,0,0,1,0,0,186.0,3.0
875,0.0,20.0,0.0,1.0,3.0,2.0,1.0,1.0,0.0,0.0,...,0,1,0,0,0,1,0,0,141.0,2.0
876,0.0,20.0,0.0,2.0,6.0,3.0,0.0,1.0,0.0,1.0,...,0,1,0,0,1,0,0,0,139.0,2.0
877,0.0,24.0,0.0,1.0,10.0,5.0,1.0,1.0,0.0,0.0,...,0,1,0,0,0,1,0,0,114.0,2.0
878,0.0,29.0,1.0,0.0,9.0,4.0,0.0,1.0,0.0,0.0,...,0,0,0,0,0,1,0,0,117.0,2.0

In [48]:
# [SOCIODEMOGRÁFICO ISM_Ansiedade ISM_Depressao ISM_Emocional ISM_Afeto ISM_Lacos]
df_somas_ism = pd.read_csv(r'Dados-Lucas-Santos\BASE3.csv')
df_somas_ism

,1,25,1.1,0,0.1,0.2,0.3,1.2,0.4,0.5,...,0.33,0.34,0.35,0.36,8,43,24,44,51,9.1
0,1,19,1,0,0,0,0,1,0,0,...,0,0,0,0,7,37,14,33,40,12
1,1,28,0,0,0,0,1,1,0,0,...,0,1,0,0,7,23,15,25,28,9
2,1,22,1,0,0,0,0,1,0,0,...,0,1,0,0,6,18,7,13,12,5
3,1,21,1,0,0,0,0,1,0,0,...,0,0,1,1,7,26,11,26,28,11
4,1,24,0,0,1,0,0,1,0,0,...,0,1,0,0,9,23,14,34,28,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
874,0,20,1,0,0,0,0,1,0,0,...,0,0,0,0,6,48,24,45,51,17
875,0,20,1,0,0,0,0,1,0,0,...,0,0,0,0,4,32,21,38,38,12
876,0,24,1,0,0,0,0,1,0,0,...,0,0,0,0,6,37,20,36,33,13
877,0,29,1,0,0,0,0,1,0,0,...,0,0,0,0,8,22,15,35,31,13
878,0,22,1,0,0,0,0,1,0,0,...,0,0,1,1,6,34,18,27,32,6

In [49]:
df_somas_ism = df_somas_ism.iloc[:,60:]

In [50]:
df_base3 = df_socioeconomico.join(df_somas_ism)
df_base3 = df_base3.join(df_classes_whoqol)
df_base3 = df_base3.dropna()
df_base3

,B,C,F,H,L,M,N,O,U,AC,...,AB_1.0,AB_2.0,AB_3.0,AB_4.0,43,24,44,51,9.1,classes_whoqol
0,1.0,25.0,1.0,0.0,5.0,3.0,1.0,0.0,1.0,0.0,...,0,0,1,0,37.0,14.0,33.0,40.0,12.0,2.0
1,1.0,19.0,1.0,1.0,2.0,4.0,1.0,1.0,1.0,0.0,...,0,1,0,0,23.0,15.0,25.0,28.0,9.0,1.0
2,1.0,28.0,0.0,1.0,1.0,2.0,0.0,1.0,1.0,0.0,...,0,1,0,0,18.0,7.0,13.0,12.0,5.0,1.0
3,1.0,22.0,0.0,2.0,5.0,2.0,1.0,1.0,1.0,0.0,...,1,0,0,0,26.0,11.0,26.0,28.0,11.0,2.0
4,1.0,21.0,0.0,2.0,7.0,5.0,0.0,1.0,1.0,0.0,...,0,0,0,1,23.0,14.0,34.0,28.0,14.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
874,0.0,24.0,1.0,1.0,10.0,3.0,1.0,1.0,0.0,1.0,...,0,1,0,0,48.0,24.0,45.0,51.0,17.0,3.0
875,0.0,20.0,0.0,1.0,3.0,2.0,1.0,1.0,0.0,0.0,...,0,1,0,0,32.0,21.0,38.0,38.0,12.0,2.0
876,0.0,20.0,0.0,2.0,6.0,3.0,0.0,1.0,0.0,1.0,...,1,0,0,0,37.0,20.0,36.0,33.0,13.0,2.0
877,0.0,24.0,0.0,1.0,10.0,5.0,1.0,1.0,0.0,0.0,...,0,1,0,0,22.0,15.0,35.0,31.0,13.0,2.0
878,0.0,29.0,1.0,0.0,9.0,4.0,0.0,1.0,0.0,0.0,...,0,1,0,0,34.0,18.0,27.0,32.0,6.0,2.0

In [51]:
#BASE4 = [SOCIODEMOGRÁFICO ISM]
df_ism_completo = pd.read_csv(r'Dados-Lucas-Santos\BASE4.csv')
df_ism_completo = df_ism_completo.iloc[:,60:]
df_base4 = df_socioeconomico.join(df_ism_completo)
df_base4 = df_base4.join(df_classes_whoqol)
df_base4 = df_base4.dropna()
df_base4

,B,C,F,H,L,M,N,O,U,AC,...,4.9,4.10,4.11,2.1,4.12,4.13,4.14,5.14,6.5,classes_whoqol
0,1.0,25.0,1.0,0.0,5.0,3.0,1.0,0.0,1.0,0.0,...,2.0,4.0,5.0,4.0,4.0,5.0,5.0,1.0,2.0,2.0
1,1.0,19.0,1.0,1.0,2.0,4.0,1.0,1.0,1.0,0.0,...,2.0,3.0,3.0,1.0,2.0,2.0,4.0,3.0,3.0,1.0
2,1.0,28.0,0.0,1.0,1.0,2.0,0.0,1.0,1.0,0.0,...,2.0,2.0,3.0,1.0,1.0,5.0,1.0,1.0,1.0,1.0
3,1.0,22.0,0.0,2.0,5.0,2.0,1.0,1.0,1.0,0.0,...,2.0,3.0,3.0,2.0,2.0,2.0,3.0,2.0,2.0,2.0
4,1.0,21.0,0.0,2.0,7.0,5.0,0.0,1.0,1.0,0.0,...,2.0,3.0,3.0,1.0,3.0,2.0,3.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
874,0.0,24.0,1.0,1.0,10.0,3.0,1.0,1.0,0.0,1.0,...,4.0,5.0,5.0,5.0,5.0,5.0,5.0,3.0,5.0,3.0
875,0.0,20.0,0.0,1.0,3.0,2.0,1.0,1.0,0.0,0.0,...,4.0,4.0,4.0,2.0,4.0,3.0,4.0,3.0,5.0,2.0
876,0.0,20.0,0.0,2.0,6.0,3.0,0.0,1.0,0.0,1.0,...,4.0,2.0,4.0,3.0,3.0,3.0,4.0,3.0,4.0,2.0
877,0.0,24.0,0.0,1.0,10.0,5.0,1.0,1.0,0.0,0.0,...,2.0,3.0,2.0,1.0,3.0,3.0,4.0,3.0,3.0,2.0
878,0.0,29.0,1.0,0.0,9.0,4.0,0.0,1.0,0.0,0.0,...,4.0,4.0,2.0,4.0,3.0,5.0,3.0,3.0,4.0,2.0

### 1.6 - Salvando os dados em csv;

In [52]:
# Salvando os dados em csv
df_base2.to_csv(r'Datasets\df_base2.csv', index=False)

df_base3.to_csv(r'Datasets\df_base3.csv', index=False)

df_base4.to_csv(r'Datasets\df_base4.csv', index=False)

In [53]:
df_base1 = df_socioeconomico.join(df_classes_whoqol)
df_base1 = df_base1.dropna()

df_base1.to_csv(r'Datasets\df_base1.csv', index=False)

In [10]:
import pandas as pd
# Read base4 and remove last collum
base = pd.read_csv('/home/apo-pc/repos/Classificacao_MHI_BIC/Classificacao_DosSantos/Datasets/df_base4.csv')
# Remove a ultima coluna e usa como target
df_base4 = base.iloc[:, :-1]
target = base['classes_whoqol']

# Count number os classes of target
target.value_counts()

2.0    542
1.0    226
3.0    103
Name: classes_whoqol, dtype: int64

In [11]:


df_base4 = df_base4.iloc[:, :-1]

# Read another csv, and remove the 54 first collums, since they are not needed
baseW = pd.read_csv('/home/apo-pc/repos/Classificacao_MHI_BIC/Codigos-Desenvolvimento/Datasets/df_social_whoqol_tratado_1.csv')
whoqol = baseW.iloc[:, 54:]

targetW = baseW['Nivel_MHI']
targetW.value_counts()

Medio    574
Baixo    149
Alto     149
Name: Nivel_MHI, dtype: int64

In [ ]:

whoqol = whoqol.iloc[:, :-1]

# Merge base4 and whoqol

df_base4 = df_base4.join(whoqol)

# Show stats
df_base4.head()

In [3]:
# Contar quatidade de colunas e linhas
df_base4.shape

(871, 122)